.modal_dialog_content_wrapper{
    border: 0 !important;
    box-shadow: 1px 1px 3px #333;
}
.modal_dialog_header{
    background-color: #125389 !important;
    color: #fff;
    padding: 15px 0 8px 20px !important;
}
.modal_dialog_content{
    border: 0 !important;
    color: #414141;
    min-height: 18px;
    max-height: 300px;
    min-width: 300px;
    max-width: 600px;
    overflow: auto;
    text-align: center;
}
.java_viewer_watermark {
    width: 100%;
    height: 0px;
    position: relative;
    opacity: 0.5;
    z-index: 99;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.java_viewer_evaluationMessage {
    width: 100%;
    position: relative;
    z-index: 99;
    text-align: center;
}
.grpdx .ie .doc-page .html_page_contents>div{font-size:1em;}
.grpdx .ie .doc-page .html_page_contents .gdvpdf{font-size:12em !important;}
.gdvhtml .java_viewer_watermark, .gdvtxt .java_viewer_watermark{position:absolute !important;}